<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <nav class="navbar is-transparent">
          <div class="navbar-brand">
            <a class="navbar-item" href="index.html">
              <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

          <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="index.html">
                Главная
              </a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="category.html">
                  Категории
                </a>
                <div class="navbar-dropdown is-boxed">
                  <a class="navbar-item" href="category.html">
                    Природа
                  </a>
                  <a class="navbar-item" href="category.html">
                    Машины
                  </a>
                  <a class="navbar-item" href="category.html">
                    Дизайн и Интерьер
                  </a>
                  <a class="navbar-item" href="category.html">
                    Животные
                  </a>
                </div>
              </div>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                    <a class="button is-link" href="login.html">
                      <span class="icon">
                        <i class="fas fa-user"></i>
                      </span>
                      <span>Войти</span>
                    </a>
                  </p>
                  <p class="control">
                    <a class="button is-primary" href="register.html">
                      <span class="icon">
                        <i class="fas fa-address-book"></i>
                      </span>
                      <span>Зарегистрироваться</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <section class="hero is-dark">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Восстановление пароля.
            </h1>
            <h2 class="subtitle">
              Письмо придет вам на почту.
            </h2>
          </div>
        </div>
      </section>
      <div class="container main-content">
        <div class="columns">
          <div class="column"></div>
          <div class="column is-quarter auth-form">

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="email" >  <!-- is-danger -->
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <!-- <span class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span> -->
              </div>
              <!-- <p class="help is-danger">This email is invalid</p> -->
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Отправить</button>
              </div>
              <div class="control">
                <a class="button is-text" href="index.html">Отмена</a>
              </div>
            </div>
            <div class="field">
              <p>Нет аккаунта? <b><a href="register.html">Регистрация</a></b></p>
              <p>Забыли пароль? <b><a href="password-reset.html">Восстановление пароля</a></b></p>
            </div>
          </div>
          <div class="column"></div>
        </div>
      </div>
      <footer class="section hero is-light">
          <div class="container">
            <div class="content has-text-centered">
              <div class="tabs">
                <ul>
                  <li class="is-active"><a>Главная</a></li>
                  <li><a>Природа</a></li>
                  <li><a>Дизайн и Интерьер</a></li>
                  <li><a>Животные</a></li>
                  <li><a>Природа</a></li>
                  <li><a>Дизайн и Интерьер</a></li>
                  <li><a>Животные</a></li>
                  <li><a>Природа</a></li>
                  <li><a>Дизайн и Интерьер</a></li>
                  <li><a>Животные</a></li>
                </ul>
              </div>
              <p>
                <strong>Marlin</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit expedita consequatur, et. Unde, nulla, dicta.
              </p>
              <p class="is-size-7">
                All rights reserved. 2018
              </p>
            </div>
          </div>
      </footer>
    </div>
  </body>

  <script>
    document.addEventListener('DOMContentLoaded', function () {

  // Get all "navbar-burger" elements
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {

        // Get the target from the "data-target" attribute
        var target = $el.dataset.target;
        var $target = document.getElementById(target);

        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
  </script>
</html>